﻿@model MVC.Models.UserSetting


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/jquerycss")
    @Styles.Render("~/bootstrapcss")
    @Styles.Render("~/themecss")
    @Styles.Render("~/simplelineiconscss")
    @Styles.Render("~/jstreecss")
    @Styles.Render("~/select2css")


</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="page-header navbar navbar-fixed-top">
        @{Html.RenderPartial("HeaderViewPartial", Model);}
    </div>
<!-- END HEADER -->

<div class="page-container">
    @{Html.RenderPartial("SideBarViewPartial", Model);}
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <div class="page-content">
            @RenderBody()
        </div>
        <div class="modal fade" id="ajax" role="basic" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="~/Bundles/theme/img/loading-spinner-grey.gif" alt="" class="loading">
                        <span> &nbsp;&nbsp;Loading... </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
</div>
<div class="page-footer">
    @{Html.RenderPartial("FooterPartial", Model);}
</div>
        @Scripts.Render("~/jquery")
        @Scripts.Render("~/bootstrap")
        @Scripts.Render("~/theme")
        @Scripts.Render("~/jstree")
    @Scripts.Render("~/select2")
        @RenderSection("scripts", required: false)
        @RenderSection("scriptsPartial", required: false)
</body>
</html>
