﻿@model MVC.Models.DropdownModel
<div class="form-group">
    <label class="control-label col-md-5">@Model.Label</label>
    <div class="col-md-7">
        <select class="form-control js-data-ajax @Model.SelectMode" multiple data-placeholder-text="Test" data-table="@Model.TableName" data-url='@Url.Action("Select","Data")' data-field="@Model.FieldName" >
        </select>
    </div>
</div>
