﻿@model MVC.Models.UserSetting
<div class="page-header navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner ">
        <!-- BEGIN LOGO -->
        <div class="page-logo">

            <div class="menu-toggler sidebar-toggler"> </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li id="btnSave" class="dropdown dropdown-extended dropdown-notification" style="display:none">
                    <a href="javascript:Save();" class="dropdown-toggle">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                    </a>

                </li>

                <li class="dropdown dropdown-quick-sidebar-toggler">
                    <a href="javascript:Logout();" class="dropdown-toggle">
                        <i class="icon-logout"></i>
                    </a>
                </li>

                <!-- END QUICK SIDEBAR TOGGLER -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
