﻿@using MVC.Models
@model IEnumerable<MVC.Models.ControlModel>

<div class="form-horizontal">
    <div class="form-body col-md-12">

        @foreach (var control in @Model)
        {

            if (control is InputModel)
            {
                {
                    Html.RenderPartial("InputViewPartial", (InputModel)control);
                }
            }
            else if (control is DropdownModel)
            {
                {
                    Html.RenderPartial("DropDownViewPartial", (DropdownModel)control);
                }
            }

        }

    </div>
</div>