﻿
@model MVC.Models.InputModel
<div class="form-group">
    <label class="col-md-5 control-label">@Model.Label</label>
    <div class="col-md-7">
        <div class=" input-icon right">
            @if (!String.IsNullOrWhiteSpace(@Model.Icon))
            {
                <i class="@Model.Icon"></i>
            }
            <input type="text" class="form-control" placeholder="@if (!String.IsNullOrWhiteSpace(@Model.PlaceHolder))
                                                                 {@Model.PlaceHolder
                                                                 }" />
        </div>
    </div>
</div>