﻿@model MVC.Models.UserSetting

@{
    ViewBag.Title = "Home Page " + Model.UserId;

}
<div class="page-bar">
    @ViewBag.Title 
</div>
<h3 class="page-title">
    @ViewBag.Title 
</h3>


<div id="Menu">
    
</div>

@section scripts
{

    <script>
    $(document).ready(function() {

        populateMenuList();


    });

    function populateMenuList() {
        var node = @Html.Raw(Json.Encode(Model.Menu));
        var RootUrl = '@Url.Content("~/")';
            $.ajax({
                url: RootUrl + "/Data/Save",
            type: "Post",
            data: {},
            success:function(data) {

            },
            error: function(data) {

            }

        });

        $("#Menu").on('changed.jstree', function(e, data) {

        }).jstree({
            "core": {
                "themes": {
                    "responsive": false
                },
                // so that create works
                "check_callback": true,
                'data': [node]
            },
            search: {
                "case_insensitive": false,
                "show_only_matches": true,
                "show_only_matches_children": true,
                "fuzzy": true,
                search_callback: function(str, node) {

                    return node.text.toLowerCase().indexOf(str.toLowerCase()) !== -1;
                }
            },

            "types": {
                "default": {
                    "icon": "fa fa-folder icon-state-warning icon-lg"
                },
                "file": {
                    "icon": "fa fa-file icon-state-warning icon-lg"
                },
                "#": {
                    "valid_children": ["branch"]
                },
                "branch": {
                    "valid_children": ["leaf"]
                },
                "leaf": {
                    "valid_children": []
                }
            },
            "state": { "key": "demo2" },
            "plugins": ["contextmenu", "state", "types", "search"]
        }).on("move_node.jstree", function(node, nodes) {
            //Move
            //alert(nodes.node.id);
        });
        $('#jstreeSearch').keyup(function() {
            var to = false;
            if (to) {
                clearTimeout(to);
            }
            to = setTimeout(function() {
                var v = $('#jstreeSearch').val();
                $('#Menu').jstree(true).search(v);
            }, 250);
        });
    }
    </script>


}